@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "Open Sans";
  src: url("fonts/open_sans/OpenSans.woff");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("fonts/open_sans/OpenSans-bold.woff");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/open_sans/OpenSans-light.woff");
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("fonts/open_sans/OpenSans-semibold.woff");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("fonts/montserrat/Montserrat-Bold.woff2") format("woff2");
}
/* Colores */
header {
  display: flex;
  justify-content: center;
  border-top: #572ee5 10px solid;
  padding: 20px;
}
header .logo {
  width: 40%;
}
header .menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
header .menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}
header .menu ul li {
  padding: 0 20px;
  color: #572ee5;
}
header .menu ul li a {
  text-decoration: none;
}
header .menu ul li a:visited {
  color: #572ee5;
}
header .crear {
  display: flex;
  align-items: center;
}

/* IPAD */
@media screen and (max-width: 768px) {
  header .logo {
    width: 25%;
  }
}
/* Colores */
footer {
  display: flex;
  justify-content: space-around;
  border-bottom: #572ee5 6px solid;
  padding-bottom: 25px;
}
footer #social {
  display: flex;
}
footer #social #redes-sociales {
  display: flex;
  align-items: center;
}
footer #social #redes-sociales a {
  width: 18px;
  height: 18px;
  margin-left: 15px;
}
footer #social #redes-sociales a#facebook {
  background-image: url(/assets/icon_facebook.svg);
  background-repeat: no-repeat;
}
footer #social #redes-sociales a#facebook:hover {
  background-image: url(/assets/icon_facebook_hover.svg);
}
footer #social #redes-sociales a#instagram {
  background-image: url(/assets/icon_instagram.svg);
  background-repeat: no-repeat;
}
footer #social #redes-sociales a#instagram:hover {
  background-image: url(/assets/icon_instagram-hover.svg);
}
footer #social #redes-sociales a#twitter {
  background-image: url(/assets/icon-twitter.svg);
  background-repeat: no-repeat;
}
footer #social #redes-sociales a#twitter:hover {
  background-image: url(/assets/icon-twitter-hover.svg);
}
footer #social p {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
}
footer #copyright p {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
}

/* Colores */
body#home main #search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#home main #search #search-bar {
  max-width: 650px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  border: 1px solid #572ee5;
  border-radius: 30px;
}
body#home main #search #search-bar input {
  width: 80%;
  height: 50px;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
  border: none;
}
body#home main #search #search-bar input::placeholder {
  color: #9cafc3;
}
body#home main #search #search-bar div[class^=icon] {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1rem;
  right: 4%;
  cursor: pointer;
}
body#home main #search #search-bar .icon-search {
  background-image: url(/assets/icon-search.svg);
}
body#home main #search #search-bar .icon-close {
  background-image: url(/assets/close.svg);
  background-repeat: no-repeat;
  background-position: center;
}
body#home main #search #search-bar .icon-search-gray {
  background-image: url(/assets/icon-search-gray.svg);
  left: 4%;
}
body#home main #trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#home main #trending h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #572ee5;
  border-top: 1px #9cafc3 solid;
  width: 200px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
body#home main #trending #trendingSearches span {
  font-size: 16px;
  font-weight: normal;
  color: #572ee5;
  text-transform: capitalize;
}

/* Colores */
body#favoritos header .menu #favoritos {
  color: #9cafc3;
}
body#favoritos main #icono-titulo,
body#favoritos main #contenedor-vacio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#favoritos main #contenedor-vacio {
  margin: 80px 0;
}

/* Colores */
body#mis-gifos header .menu #mis-gifos {
  color: #9cafc3;
}
body#mis-gifos main #icono-titulo,
body#mis-gifos main #contenedor-vacio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#mis-gifos main #contenedor-vacio {
  margin: 80px 0;
}

/* Colores */
body {
  margin: 0;
  font-family: Montserrat;
}
body main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body main h1.titulo {
  color: #572ee5;
  font-size: 35px;
  font-family: Montserrat, "Open Sans";
  text-align: center;
  line-height: 50px;
  width: 600px;
  justify-content: center;
}
body main h1.titulo span {
  color: #50e3c2;
}
body main h2.subtitulo {
  font-size: 25px;
  color: #572ee5;
  font-weight: bold;
}
body main h3.subtitulo-secundario {
  font-size: 22px;
  color: #50e3c2;
  text-align: center;
}
body main #trendingGifos {
  width: 100%;
  background: #f5f6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  margin: 30px 0;
}
body main #trendingGifos p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
}
body main #trendingGifos #sliderTrending {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 100px;
}
body main #trendingGifos #sliderTrending .gifoTrending {
  height: 275px;
  width: 375px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
body main #trendingGifos #sliderTrending .gifoTrending img {
  height: 275px;
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo {
  display: none;
  position: absolute;
  height: 100%;
  width: 375px;
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .actions {
  display: flex;
  justify-content: flex-end;
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .actions .icon {
  width: 32px;
  height: 32px;
  margin: 20px 20px 0 0;
  cursor: pointer;
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .actions .icon.like {
  content: url("/assets/icon-fav.svg");
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .actions .icon.like:hover {
  content: url("/assets/icon-fav-hover.svg");
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .actions .icon.download {
  content: url("/assets/icon-download.svg");
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .actions .icon.download:hover {
  content: url("/assets/icon-download-hover.svg");
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .actions .icon.expand {
  content: url("/assets/icon-max-normal.svg");
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .actions .icon.expand:hover {
  content: url("/assets/icon-max-hover.svg");
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .titles {
  position: absolute;
  bottom: 50px;
  left: 20px;
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .titles p {
  color: white;
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .titles p.user {
  font-size: 15px;
  margin-bottom: 6px;
}
body main #trendingGifos #sliderTrending .gifoTrending .gifoInfo .titles p.title {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}
body main #trendingGifos #sliderTrending .gifoTrending:hover .gifoInfo {
  display: block;
  background-color: rgba(87, 46, 229, 0.5);
}
body main #trendingGifos #sliderTrending .arrowsSlider {
  position: absolute;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
body main #trendingGifos #sliderTrending .arrowsSlider#arrowRight {
  right: 0;
  content: url("/assets/Button-Slider-right.svg");
}
body main #trendingGifos #sliderTrending .arrowsSlider#arrowRight:hover {
  content: url("/assets/Button-Slider-right-hover.svg");
}
body main #trendingGifos #sliderTrending .arrowsSlider#arrowLeft {
  left: 0;
  content: url("/assets/Button-Slider-left.svg");
}
body main #trendingGifos #sliderTrending .arrowsSlider#arrowLeft:hover {
  content: url("/assets/Button-Slider-left-hover.svg");
}
body .dn {
  display: none;
}
body .db {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
