@import "components/fonts.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/home.scss";
@import "components/favoritos.scss";
@import "components/mis-gifos.scss";
@import "components/datos.scss";

body {
  margin: 0;
  font-family: Montserrat;
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1.titulo {
      color: $morado;
      font-size: 35px;
      font-family: Montserrat, "Open Sans";
      text-align: center;
      line-height: 50px;
      width: 600px;
      justify-content: center;
      span {
        color: $celeste;
      }
    }
    h2.subtitulo {
      font-size: 25px;
      color: $morado;
      font-weight: bold;
    }
    h3.subtitulo-secundario {
      font-size: 22px;
      color: $celeste;
      text-align: center;
    }
    #trendingGifos {
      width: 100%;
      background: $black-haze;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
      margin: 30px 0;
      p {
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
      }
      #sliderTrending {
        position: relative;
        width: 92%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 60px;
        overflow: hidden;
        .arrowsSlider {
          position: absolute;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          &#arrowRight {
            right: 0;
            content: url("/assets/Button-Slider-right.svg");
            &:hover {
              content: url("/assets/Button-Slider-right-hover.svg");
            }
          }
          &#arrowLeft {
            left: 0;
            content: url("/assets/Button-Slider-left.svg");
            &:hover {
              content: url("/assets/Button-Slider-left-hover.svg");
            }
          }
        }
      }
    }
  }
  #searchResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    #gifosResult {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1440px;
      .gifoTrending {
        max-height: 200px;
        max-width: 260px;
        margin: 15px;
        img {
          height: 200px;
          width: 260px;
          object-fit: cover;
        }
        .gifoInfo {
          height: 200px;
          width: 260px;
          &:hover .gifoInfo {
            display: block;
            background-color: rgba(87, 46, 229, 0.5);
          }
          .titles {
            bottom: 10px;
          }
          .actions .icon {
            margin: 15px 10px 0 0;
          }
        }
      }
    }
    #notFound {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 22px;
      color: $celeste;
      font-weight: bold;
      margin: 25px 0;
      img {
        width: 150px;
        height: 150px;
      }
      &.dn {
        display: none;
      }
    }
    .showMore {
      position: relative;
      background-image: url("/assets/CTA-ver-mas.svg");
      margin: auto;
      margin-bottom: 30px;
      top: 30px;
      width: 128px;
      height: 50px;
      background-repeat: no-repeat;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .showMore:hover {
      background-image: url("/assets/CTA-ver-mas-hover.svg");
    }
  }
  #gifoTrendingSlider {
    display: flex;
    width: 90%;
    overflow: hidden;
    .gifoTrending {
      height: 275px;
      width: 357px;
      display: flex;
      padding-right: 8px;
      justify-content: center;
      position: relative;
      img {
        width: 357px;
        height: 275px;
        object-fit: cover;
      }
      .gifoInfo {
        display: none;
        position: absolute;
        height: 100%;
        width: 355px;
        .actions {
          display: flex;
          justify-content: flex-end;
          .icon {
            width: 32px;
            height: 32px;
            margin: 20px 20px 0 0;
            cursor: pointer;
            &.like {
              content: url("/assets/icon-fav.svg");
              &:hover {
                content: url("/assets/icon-fav-hover.svg");
              }
            }
            &.download {
              content: url("/assets/icon-download.svg");
              &:hover {
                content: url("/assets/icon-download-hover.svg");
              }
            }
            &.expand {
              content: url("/assets/icon-max-normal.svg");
              &:hover {
                content: url("/assets/icon-max-hover.svg");
              }
            }
          }
        }
        .titles {
          position: absolute;
          bottom: 12px;
          left: 20px;
          p {
            color: white;
            &.user {
              font-size: 15px;
              margin-bottom: 6px;
            }
            &.title {
              margin-top: 0;
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
      }
      &:hover .gifoInfo {
        display: block;
        background-color: rgba(87, 46, 229, 0.5);
        overflow: hidden;
      }
    }
  }
  #gifosResult {
    .gifoTrending {
      height: 275px;
      width: 375px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img {
        height: 275px;
      }
      .gifoInfo {
        display: none;
        position: absolute;
        height: 100%;
        width: 375px;
        .actions {
          display: flex;
          justify-content: flex-end;
          .icon {
            width: 32px;
            height: 32px;
            margin: 20px 20px 0 0;
            cursor: pointer;
            &.like {
              content: url("/assets/icon-fav.svg");
              &:hover {
                content: url("/assets/icon-fav-hover.svg");
              }
            }
            &.download {
              content: url("/assets/icon-download.svg");
              &:hover {
                content: url("/assets/icon-download-hover.svg");
              }
            }
            &.expand {
              content: url("/assets/icon-max-normal.svg");
              &:hover {
                content: url("/assets/icon-max-hover.svg");
              }
            }
          }
        }
        .titles {
          position: absolute;
          bottom: 50px;
          left: 20px;
          p {
            color: white;
            &.user {
              font-size: 15px;
              margin-bottom: 6px;
            }
            &.title {
              margin-top: 0;
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
      }
      &:hover .gifoInfo {
        display: block;
        background-color: rgba(87, 46, 229, 0.5);
      }
    }
  }
  .dn {
    display: none;
  }
  .db {
    display: block;
  }
}
