@import "datos.scss";

body#favoritos {
    main {
        #icono-titulo,
        #contenedor-vacio {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #contenedor-vacio {
            margin: 80px 0;
        }
    }
}