@font-face {
    font-family: "Open Sans";
    src: url("fonts/open_sans/OpenSans.woff");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("fonts/open_sans/OpenSans-bold.woff");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("fonts/open_sans/OpenSans-light.woff");
}

@font-face {
    font-family: "Open Sans Semibold";
    src: url("fonts/open_sans/OpenSans-semibold.woff");
}