@import "datos.scss";

header {
  display: flex;
  justify-content: center;
  border-top: $purple 6px solid;
  padding: 20px;
  .logo {
    width: 40%;
  }
  .menu {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      li {
        margin: 0 20px;
        color: $purple;
        border-bottom: solid 3px transparent;
        a {
          text-decoration: none;
          &:visited {
            color: $purple;
          }
        }
        &:hover {
          border-bottom: solid 3px $aquamarine;
        }
      }
    }
    #nightMode {
      cursor: pointer;
      &.active {
        font-size: 0;
        &::after {
          font-size: 13px;
          content: "MODO DIURNO";
        }
      }
    }
  }
  .crear {
    width: 54px;
    display: flex;
    align-items: center;
    a img:hover {
      content: url("/assets/CTA-crear-gifo-hover.svg");
    }
  }
  .menuMobile {
    display: none;
  }
  #menuList {
    display: none;
  }
}

/* TABLET */
@media screen and (max-width: 790px) {
  header {
    .logo {
      width: 25%;
    }
  }
}

/* MOBILE */
@media (max-width: 640px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 3;
    box-shadow: 4px 4px 18px rgb(0 0 0 / 12%);
    top: 0;
    .logo {
      padding-left: 20px;
    }
    .menu,
    .crear {
      display: none;
    }
    .menuMobile {
      display: block;
      content: url("/assets/burger.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      margin: 20px;
    }
    #menuList {
      display: none;
      &.open {
        background-color: $purple;
        opacity: 0.9;
        display: flex;
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        top: 90px;
        ul {
          display: flex;
          width: 100%;
          padding-left: 0;
          flex-direction: column;
          justify-content: flex-start;
          list-style: none;
          margin-top: 35px;
          li {
            margin-top: 8px;
            height: 50px;
            hr {
              width: 40px;
              opacity: 0.5;
              margin-top: 12px;
              margin-bottom: 0;
            }
          }
          li, a {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: white;
            text-decoration: none;
            font-weight: 600;
          }
          #nightModeMobile {
            cursor: pointer;
            &.active {
              font-size: 0;
              &::before {
                font-size: 1rem;
                content: "Modo Diurno";
              }
            }
          }
        }
      }
    }
    &.open {
      position: fixed;
      width: 100%;
      background: white;
      z-index: 3;
    }
  }
}
