@import "datos.scss";

header {
    display: flex;
    justify-content: center;
    border-top: $morado 10px solid;
    padding: 20px;
    .logo {
        width: 40%;
    }
    .menu {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        ul {
            display: flex;
            list-style: none;
            padding: 0;
            li {
                padding: 0 20px;
                color: $morado;
                a {
                    text-decoration: none;
                    &:visited {
                        color: $morado;
                    }
                }
            }
        }
    }
    .crear {
        display: flex;
        align-items: center;
    }
}

/* IPAD */
@media screen and (max-width: 768px) {
    header {
        .logo {
            width: 25%;
        }
    }
}
