@import "datos.scss";

body#home {
  main {
    #search {
      display: flex;
      flex-direction: column;
      align-items: center;
      #search-bar {
        max-width: 650px;
        width: 100%;
        text-align: center;
        position: relative;
        margin-bottom: 25px;
        border: 1px solid $morado;
        border-radius: 30px;
        input {
          width: 80%;
          height: 50px;
          outline: none;
          font-size: 16px;
          border: none;
          &::placeholder {
            color: $azul-claro;
          }
        }
        div[class^="icon"] {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 1rem;
          right: 4%;
          cursor: pointer;
        }
        .icon-search {
          background-image: url(/assets/icon-search.svg);
        }
        .icon-close {
          background-image: url(/assets/close.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
        .icon-search-gray {
          background-image: url(/assets/icon-search-gray.svg);
          left: 4%;
        }
        #suggestions {
          .suggestion {
            display: flex;
            cursor: pointer;
            &:first-child {
              border-top: 1px solid $azul-claro;
              padding-top: 10px;
            }
            margin: 0 20px;
            text-align: start;
            padding: 5px 0;
            &:last-child {
              padding-bottom: 10px;
            }
            .icon-search-gray {
              position: initial;
              width: 16px;
              height: 16px;
              margin-right: 18px;
              margin-left: 8px;
            }
          }
        }
      }
    }
    #trending {
      display: flex;
      flex-direction: column;
      align-items: center;
      &.dn {
        display: none;
      }
      h3 {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: $morado;
        border-top: 1px $azul-claro solid;
        width: 200px;
        display: flex;
        justify-content: center;
        padding-top: 30px;
      }
      #trendingSearches {
        margin-bottom: 25px;
        span {
          font-size: 16px;
          font-weight: normal;
          color: $morado;
          text-transform: capitalize;
          cursor: pointer;
        }
      }
    }
    #searchResult {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      #titleResult {
        font-size: 35px;
        color: $morado;
        text-align: center;
        width: 338px;
        border-top: 1px $azul-claro solid;
        padding-top: 30px;
      }
    }
  }
}
