@import "datos.scss";

body#mis-gifos-page {
    header {
        .menu {
            #mis-gifos {
                color: $azul-claro;
            }
        }
    }
    main {
        #icono-titulo,
        #contenedor-vacio {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #contenedor-vacio {
            margin: 80px 0;
        }
    }
}
